Django==5.1.7
djangorestframework==3.15.2
django-cors-headers==4.3.1
django-filter==23.5
django-rest-swagger==2.2.0
djangorestframework-jwt==0.11.0
python-dotenv==1.0.1
django-environ==0.12.0
pymongo==4.6.3
drf-yasg==1.21.10
python-jose==3.3.0
bcrypt==4.1.2
requests==2.31.0
gunicorn==21.2.0
whitenoise==6.6.0 